<p>Dr. Daniel Slamanig is a senior researcher at <a href="https://www.iaik.tugraz.at">IAIK</a>, <a href="http://www.tugraz.at">Graz University of Technology</a>. His main research interests are in the field of cryptography and privacy with a focus on practical public key cryptographic primitives, privacy-preserving cryptography and their applications in emerging fiels such as cloud computing and the Internet of Things (IoT). He obtained a PhD degree (Dr.techn.) with distinction in computer science from <a href="https://www.aau.at/en/">AAU</a> and previously held postdoctoral and research associate positions at Graz University of Technology and Carinthia University of Applied Sciences respectively. Daniel currently teaches a course on <a href="http://www.iaik.tugraz.at/content/teaching/master_courses/public_key_crypto/">modern public key cryptography</a>. He is a member of the International Association for Cryptologic Research (IACR) and the Austrian Computer Society (OCG).</p>

<p><strong>Program Committees:</strong> <a href="http://www.ares-conference.eu/conference/workshopsares2016/secpid-2016/" title="SECPID 2016">SECPID 2016 (Co-Chair)</a>, <a href="http://conference.cs.cityu.edu.hk/asiaccsscc/" title="AsiaCCS-SCC 2015">AsiaCCS-SCC 2015, 2016, 2017</a>, <a href="http://www.ifip-summerschool.org/" title="IFIP Summer School 2015,2016">IFIP Summer School 2015, 2016</a> <p>

<p><strong>Reviewing:</strong> EUROCRYPT 2017, CT-RSA 2016, EUROCRYPT 2016, CRYPTO  2016, SCN 2016, ASIACRYPT 2016, INDOCRYPT  2016, ICISC 2016, ARES 2015, EUROCRYPT 2015, ICISC 2015, SSR 2015, ASIACRYPT 2014, EUROCRYPT 2014, ISC 2014, EuroPKI 2012<p>

<p><strong>News:</strong>
<ul>
<li> <strong>Jan. 13 2017:</strong> Paper accepted at <a href="http://fc17.ifca.ai">FC 2017</a></li>
<li> <strong>Jan. 6 2017:</strong> Paper accepted at <a href="https://www.iacr.org/workshops/pkc2017/">PKC 2017</a></li>
</ul>

<p><strong>Projects:</strong> <p>
<ul>
  <li><a href="https://prismacloud.eu/">EU Horizon 2020 PRISMACLOUD</a> (2015-2018)</li>
  <li><a href="https://credential.eu/">EU Horizon 2020 CREDENTIAL</a> (2015-2018)</li>
  <li><a href="http://futureid.eu/">EU FP7 FutureID</a> (2012-2015)</li>
  <li><a href="http://archistar.github.io/archistar.at/">FFG BRIDGE Archistar</a> (2011-2014)</li>
</ul>

