<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        {% include navigation.html %}
        {{content}}
        {% if page.include_bio %}{% include bio.html %}{% endif %}
        {% if page.show_selected_publications %}{% include selected-publications.html %}{% endif %}
      </section>
   
      {% include footer.html %}     
 
    </div>
    <script src="{{ '/javascripts/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
